node_modules/
!dist/
.repository/
.idea
acorn
acorn.cmd
acorn.ps1
eslint
eslint.cmd
eslint.ps1
esparse
esparse.cmd
esparse.ps1
esvalidate
esvalidate.cmd
esvalidate.ps1
js-yaml
js-yaml.cmd
js-yaml.ps1
mkdirp
mkdirp.cmd
mkdirp.ps1
rimraf
rimraf.cmd
rimraf.ps1
semver
semver.cmd
semver.ps1
which
which.cmd
which.ps1
/run-rsinstallpackagebuilder/test_output_dir
