default_stages: [pre-commit]
exclude: '^.*/dist/.*$'
repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
  -   repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.5.6
      hooks:
        -   id: remove-crlf
        -   id: remove-tabs
            exclude_types:
              - 'tsv'
            args: [ --whitespaces-count=2 ]
  - repo: https://github.com/extenda/pre-commit-hooks.git
    rev: v0.14.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
