<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <solution>
        <add key="disableSourceControlIntegration" value="true" />
      </solution>
      <packageSources>
<!--          <add key="RS (Nexus)" value="https://repo.extendaretail.com/repository/nuget-group/" />-->
        <add key="test" value="test value" />
<!--          <add key="nuget.org-proxy" value="https://repo.extendaretail.com/repository/nuget-group/" />-->
      </packageSources>
      <packageSourceCredentials />
      <activePackageSource>
        <add key="All" value="(Aggregate source)" />
      </activePackageSource>
      <packageSourceCredentials />
      <disabledPackageSources />
    </configuration>
