name: Commit
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Notify Slack
        uses: ./slack-message
        with:
          title: 'Slack Message Action :robot_face:'
          text: |
            This message is sent by GitHub Actions :rocket:

            It contains *formatting* and multiple lines.
          fallback: This message is sent by GitHub Actions
          service-account-key: ${{ secrets.SECRET_AUTH }}

      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Cache node modules
        uses: actions/cache@v1
        id: cache
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Lint Javascript
        run: npm run lint:js

      - name: Run tests
        run: |
          echo "::stop-commands::jest-output"
          npm test
          echo "::jest-output::"
        env:
          NEXUS_USERNAME: ${{secrets.NEXUS_USERNAME}}
          NEXUS_PASSWORD: ${{secrets.NEXUS_PASSWORD}}

      - name: Check compiled dist/* files
        run: |
          npm run build
          git add "*/dist/**"
          if [ -n "$(git diff-index --exit-code HEAD '*/dist/**')" ]; then
            echo ""
            echo "::error::Found uncommitted changes to compiled javascripts."
            echo ""
            git diff-index --stat HEAD '*/dist/**'
            echo ""
            echo "::error::Did you remember to run 'npm run build'?"
            exit 1
          fi

  acceptance-windows:
    runs-on: windows-latest
    needs: test
    steps:
      - uses: actions/checkout@v1

      - uses: ./setup-msbuild

      - name: Assert MSBuild exists on PATH
        run: where MSBuild.exe

      - name: Run MSBuild
        run: MSBuild -version

  acceptance-linux:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v1

      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Run Maven (no POM)
        uses: ./maven
        with:
          args: --version
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}

      - name: Run Maven CLI
        run: mvn dependency:get -Dartifact=se.extenda.maven:commonpom:2.5.1:pom
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}

      - name: GCP Secret Manager
        uses: ./gcp-secret-manager
        with:
          service-account-key: ${{ secrets.SECRET_AUTH }}
          secrets: |
            TEST_TOKEN: sonarqube-token

      - name: Assert GCP secrets
        run: |
          if [ -n "$TEST_TOKEN" ]; then
            echo "Secret successfully set to env"
          else
            echo "Failed to set secret to env"
            exit 1
          fi

  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs:
      - test
      - acceptance-windows
      - acceptance-linux
    steps:
      - uses: actions/checkout@v1

      - name: Create release
        uses: ./conventional-release
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update release branch
        run: |
          releaseBranch=$(echo "${{ steps.release.outputs.release-tag }}" | tr "." " " | awk '{print $1}')
          git checkout -B $releaseBranch ${{ steps.release.outputs.release-tag }}
          git config --add user.name "GitHub Actions"
          git config --add user.email devops@extendaretail.com
          git push origin $releaseBranch --force
