name: Commit
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Lint Javascript
        run: |
          npm ci
          make lint

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@master

      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache node modules
        uses: actions/cache@v1
        id: cache
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-

      - name: Install dependencies
        run: make install-ci

      - name: Run tests
        run: |
          echo "::stop-commands::jest-output"
          make test
          echo "::jest-output::"

      - name: Check compiled dist/* files
        run: |
          make build
          git add "*/dist/**"
          if [ -n "$(git diff-index --exit-code HEAD --)" ]; then
            echo ""
            echo "::error::Found uncommitted changes to compiled javascripts."
            echo ""
            git diff-index --stat HEAD --
            echo ""
            echo "::error::Did you remember to run 'make build'?"
            exit 1
          fi

  release:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@master

      - name: Create release
        uses: ./conventional-release
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update release branch
        run: |
          releaseBranch=$(echo "${{ steps.release.outputs.release-tag }}" | tr "." " " | awk '{print $1}')
          git checkout -B $releaseBranch ${{ steps.release.outputs.release-tag }}
          git config --add user.name "GitHub Actions"
          git config --add user.email devops@extendaretail.com
          git push origin $releaseBranch --force
