name: pre-commit
on: pull_request

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --from-ref=${{ github.event.pull_request.base.sha }} --to-ref=${{ github.sha }}
